body,
#root {
  height: 100vh;
  width: 100vw;
}

.container {
  border: 1px solid black !important;
}
.name {
  position: relative;
  right: 60px;
}
.url {
  position: relative;
  left: 30px;
}
.stars {
  position: relative;
  left: 330px;
}
.forks {
  position: relative;
  left: 430px;
}
.X {
  cursor: pointer;
  font-size: 30px;
  position: relative;
  left: 1030px;
}
